body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
  }
  
  #container {
    text-align: center;
    padding: 50px;
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(75, 74, 74, 0.2);
    max-width: 600px;
    margin: 50px auto;
  }
  
  #container h1 {
    font-size: 2.5em;
    color: #ffffff;
    margin-bottom: 20px;
  }
  
  #container p {
    font-size: 1.2em;
    color: #494949;
    margin-bottom: 30px;
  }
  
  #container button {
    font-size: 1em;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #container button:hover {
    background-color: #0056b3;
  }
  
  .navbar {
    margin-bottom: 30px;
    background-color: #000000 !important;
  }
  .navbar-brand {
    color: #ffffff;
  }
  .navbar-brand:hover {
    color: #007bff;
  }
  
  .navbar-nav .nav-item .nav-link {
    color: #ffffff;
    transition: color 0.3s ease;
  }
  
  .navbar-nav .nav-item .nav-link:hover {
    color: #007bff;
  }
  .contact-form {
    position: fixed;
    bottom: 70px;
    right: 20px;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(223, 211, 211, 0.2);
    border-radius: 10px;
  }

  .contact-form1 {
    position: fixed;
    bottom: 70px;
    left: 20px;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(223, 211, 211, 0.2);
    border-radius: 10px;
  }
  
  .contact-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
  .contact-button1 {
    position: fixed;
    bottom: 20px;
    left: 20px;
  }
  .contact-button1 button {
    font-size: 1em;
    color: #fff;
    background-color: #000702;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .contact-button1 button:hover {
    background-color: #0067bb;
  }
  
  .contact-button button {
    font-size: 1em;
    color: #fff;
    background-color: #000702;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .contact-button button:hover {
    background-color: #0067bb;
  }

  #container2 {
    text-align: center;
    padding: 50px;
    background-color: #000000;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(75, 74, 74, 0.2);
    max-width: 600px;
    margin: 200px auto;
    justify-content: center;
  }
  #container2 p {
  font-size: 30px;
  color: #fff;
  
  }
  